http://, https://
tls /run/tls.crt /run/tls.key

root /srv
browse

log    stdout
errors stderr

cgi /ks/*.sh {root}{match}
cgi /ks/*.py {root}{match}

on startup /usr/sbin/dnsmasq --port=0 --enable-tftp --tftp-root=/srv/tftp
on shutdown /usr/bin/killall -q -INT dnsmasq
